.cart_list{
    border: 2px solid red;
    
}

.cart_header{
    border: 2px solid blue;
  
}
/* .btn_cart{

} */

.cart_item{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cart_content{
    border: 2px solid purple;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 450px;
    margin: 15px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #e3a65e;
    align-items: inherit;
    flex-wrap: wrap;
}

.cart_img{
    width: 250px;
    height: 250px;
}
/* .cart_title{

}
.cart_title{

} */
.btn_minus,
.btn_plus{
    margin: 5px;
    background-color: rgb(191 173 206) ;
    border-radius: 4px;
    max-width: 200px;
    cursor: pointer;

}
.footer{
    display: flex;
}
.btn_del{
    border: 3px solid black;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(191 173 206);
    cursor: pointer;

}
.cart_price{
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(191 173 206);
    max-width: 100px;
}
.cart_footer{
    padding: 15px;
    font-size: 22px;
    background-color:#e3a65e;
}


.content{
    background-color: #e3a65e;
    border: 2px solod white;
    font-size: 2rem;
}