.menu {
    position: relative;
    /* transform: translateX(-130%); */
    /* transition: all 0.2s; */
}

/* .menu.active {
    transform: translateX(0);
}


.blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;

} */
.menu_content {
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    transition: all 0.4s;
}
.menu_content a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 26px;
    color: blanchedalmond;
    cursor: pointer;
}
.type__bar {
    display: flex;
    font-size: 26px;
    color: blanchedalmond;
}
.type__bar a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 26px;
    color: blanchedalmond;
}

