body {
    margin: 0;
    padding: 0;
    background: no-repeat;
    background: url(https://phonoteka.org/uploads/posts/2022-02/1643888061_12-phonoteka-org-p-postnoe-menyu-fon-13.jpg) ;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}


